#logo1 {
    width: 90px;
}

#hotline {
    font-size:12px;
    font-weight:700;
}

#cart {
    font-size:12px;
    font-weight:700;
    color: black
}

#nav_categories {
    font-size: 15px;
    font-weight: 700;
}