#logo1 {
    width: 90px;
}

#hotline {
    font-size:12px;
    font-weight:700;
}

#cart {
    font-size:12px;
    font-weight:700;
    color: black
}

#nav_categories {
    font-size: 15px;
    font-weight: 700;
}

.search-container {
    position: relative;
    width: 500px;
}

.search-box {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
}

.suggestions-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: none;
    z-index: 1000;
}

.suggestion {
    padding: 10px;
    cursor: pointer;
}

.suggestion:hover {
    background-color: #f2f2f2;
}